body{
    background-color: lightblue;
/*    position: absolute;*/
}
.textarea1{
/*	height: 350px; */
	width: 100%;
}

.auth_form{
	margin-left: 15px;
	margin-bottom: 15px;
}

#files_side{
/*    display: flex;*/
    height: 100%;
    width: 100%;
    padding-left: 20px;
    padding-top: 30px;
    grid-area: auto;
    right: 0px;
/*    z-index: top;*/
/*    position: relative;*/
    justify-content: space-evenly;
    align-items: flex-start;
/*    position: fixed;*/
    /*background-color: gray;*/
}
#file_list{
    display: flex;
    min-height: 75%;
    min-width: 75%;
}
.editor_area {
    display: grid;
/*    position: sticky;*/
    grid-template-columns: 0.5fr 1fr 0.5fr;
    width: 100%;
/*    justify-content: center;*/
/*    align-items: center;*/
    
}

#compiler_answers {
    flex-wrap: wrap;
    box-shadow: none;
    border-color: #ccc;
    border-radius: 5px;
    height: 100px;
    width: 100%;
    font-size: 14px;
    line-height: 1em;
    padding: 4px;
    margin-top: 5px;
    font-family: 'Monaco','Menlo','Ubuntu Mono','Consolas','source-code-pro', monospace;
    resize: both;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 0px;
    color: #333;
    display: flex;
}

*{
    margin:0;
    padding:0;
}
.topnav {
    display: flex;  
    width: 100%;
    float: left;
    background-color: #333;
/*    position: fixed;*/
    align-items: center;
    padding: 25px;
}

.topnav button{
    width: 100px;
    display: inline;
    padding: 5px;
    margin-bottom: 5px;
    background-color: lightblue;
    border: none;
}
.topnav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-right: 5px;
}
.topnav h1{
    display: block;
    color: lightblue;
    float: left;
}
.topnav a:hover {
    background-color: darkslategray;
    color: black;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}


#changeFileNameButton {
    margin: 5px;
}

#stdInput {
    display: flex;
    box-shadow: none;
    border-color: #ccc;
    border-radius: 5px;
    height: 100px;
    width: 100%;
    font-size: 14px;
    line-height: 1em;
    padding: 2px;
    font-family: 'Monaco','Menlo','Ubuntu Mono','Consolas','source-code-pro', monospace;
    resize: both;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 0px;
    color: #333;
    transition: 1s;
}

#enterInputText {
    margin-bottom: 5px;
}

#signin_result {
    margin-bottom: 10px;
    margin-top: 10px;
}

#file_form {
    overflow: auto;
}

#user_container {
    width: 80%;
    min-width: 150px;
    margin-left: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

.popUpWindow {
    position: absolute;
    background: #fff;
    width: 82%;
    min-width: 300px;
    min-height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 12px 20px -10px;
/*    text-align: center;*/
    z-index: 2;
    overflow: scroll;
    max-height: 80%;
    display: none;
}

.popUpWindow span{
    position: absolute;
    font-size: 30px;
    top: -6px;
    right: 5px;
    cursor: pointer;
}

.popUpWindow p{
    white-space: pre-wrap;
}

.braces {
  position: relative;
  padding: .3em .5em;
  margin-left: 1em;
}
.braces::before,
.braces::after,
.curly::before,
.curly::after {
  content: "";
  position:absolute;
  width: .8em;
  height: 25%;
}
.braces::before,
.braces::after {
  left: 0;
  border-left: 2px solid;
}
.braces::before {
  top: 0;
  border-top-left-radius: .8em;
}
.braces::after {
  bottom: 0;
  border-bottom-left-radius: .8em;
}
.curly::before,
.curly::after {
  left: -.8em;
  border-right: 2px solid;
}
.curly::before {
  top: 25%;
  border-bottom-right-radius: .8em;
}
.curly::after {
  bottom: 25%;
  border-top-right-radius: .8em;
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.78);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.topnav_links {
/*    position: absolute;*/
    right: 5px;
    margin-right: 55px;
}

.selectedTask{
    display: none;
}
#checkTaskButton{
    display: inline;
    margin-top: 5px;
    margin-bottom: 5px;
}
.selectedTask:target {
    display: block;
}
/*
.selectedTask:target ~ .selectedTaskButton{
    display: block;
    
}
*/
.selectedTaskButton:target {
    display: block;
}

body .popUpWindow:target {
    display: block;
}
body .popUpWindow:target + .overlay {
    display: block;
}
body .popUpWindow:target ~ .overlay {
    display: block;
}

.task_area {
    display: grid;
/*    position: sticky;*/
    grid-template-columns: 0.5fr 1fr 0.5fr;
}

#auth_form {
    display: block;
}

#username {
    background-color: lightblue;
    padding: 5px;  
    margin-bottom: 5px;
    border: hidden;
}

#password {
    background-color: lightblue;
    padding: 5px;  
    margin-bottom: 5px;
    border: hidden;
}

#saveMyAuth {
    margin-right: 5px;
    background-color: lightblue;
    color: lightblue;
    border: none;
}
